<div class="container my-4">
    <div class="d-flex justify-content-around align-items-center">
    <div>
    <%= link_to lists_path do %>
      <i class="fas fa-undo-alt"></i><span>All lists</span>
    <% end %>
    <span><h3>Bookmarks of the <%= @list.name %> list</h3></span>
    </div>
    <%= link_to 'Add a new bookmark', new_list_bookmark_path(@list), class: 'btn btn-warning' %>
</div>
 
  <div class="d-flex justify-content-center">
    <% @list.movies.each do |movie| %>
      <div class="col-4">
        <div class="bg-white shadow m-4">

          <%= image_tag movie.poster_url, alt: movie.title, class: 'img-fluid' %>
          <div class="p-3 d-flex flex-column">

            <strong><%= movie.title %> <span > - <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
            <small><%= movie.overview %></small>
            <div class="d-flex align-items-end justify-content-between pt-2">
          
              <i class="fas fa-quote-left mr-2"></i><small class="flex-grow-1"><%= @bookmark.comment %></small>
              <small class="text-right flex-shrink-0"><%= link_to '<i class="fa fa-trash"></i>'.html_safe, bookmark_path(@list), method: :delete, data: { confirm: "Are you sure?" } %></small>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
