<div class="container my-4">
  <%= link_to "All lists", lists_path %>
  <div class="d-flex justify-content-center">
    <% @list.movies.each do |movie| %>
      <div class="col-4">
        <div class="bg-white shadow m-4">

          <%= image_tag movie.poster_url, alt: movie.title, class: 'img-fluid' %>
          <div class="p-3 d-flex flex-column">

            <strong><%= movie.title %> <span > - <%= movie.rating %> <i class="fas fa-star star-yellow"></i></span></strong>
            <small><%= movie.overview %></small>
            <div class="d-flex align-items-end justify-content-between pt-4">
          
              <i class="fas fa-quote-left mr-2"></i><small class="flex-grow-1"><%= @bookmark.comment %></small>
              
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>